<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Modern family</title>
  </head>
  <body>
    <div id="app">
      <h2>Statistics</h2>
      <ul>
        <li>Senior: {{seniorStat}}</li>
        <li>Adult: {{adultStat}}</li>
        <li>Young: {{youngStat}}</li>
      </ul>
      <label for="character-name">Name &nbsp;</label>
      <input
        type="text"
        v-model="newCharacter.name"
        @keyUp.enter="addNew"
      /><br /><br />
      <p v-if="characterList.length == 0">There are no characters</p>
      <ul v-else>
        <li v-for="character in characterList">
          {{character.name}}&nbsp;
          <button @click="favCharacterList.push(character)">Favorite</button>
        </li>
      </ul>

      <h2>Favorite Characters:</h2>
      <p v-if="favCharacterList.length == 0">
        There are no favorite characters
      </p>
      <ul v-else>
        <li v-for="character in favCharacterList">{{character.name}}&nbsp;</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;
      const app = createApp({
        data: () => ({
          characterList: [
            { name: "Jay Pritchett", age: 63 },
            { name: "Gloria Delgado Pritchett", age: 46 },
            { name: "Claire Dunphy", age: 34 },
            { name: "Phil Dunphy", age: 42 },
            { name: "Mitchell Pritchett", age: 36 },
            { name: "Haley Dunphy", age: 18 },
            { name: "Alex Dunphy", age: 16 },
          ],
          favCharacterList: [],
          newCharacter: {
            name: "",
          },
        }),

        computed: {
          seniorStat() {
            return this.characterList.filter((character) => {
              if (character.age > 50) {
                return true;
              }
            }).length;
          },

          adultStat() {
            return this.characterList.filter((character) => {
              if (character.age > 30) {
                return true;
              }
            }).length;
          },

          youngStat() {
            return this.characterList.filter((character) => {
              if (character.age < 30) {
                return true;
              }
            }).length;
          },
        },

        methods: {
          addNew() {
            this.characterList.push(this.newCharacter);
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
