<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Modern family</title>
  </head>
  <body>
    <div id="app">
      <label for="character-name">Name &nbsp;</label>
      <input
        type="text"
        v-model="newCharacter.name"
        @keyUp.enter="addNew"
      /><br /><br />
      <p v-if="characterList.length == 0">There are no characters</p>
      <ul v-else>
        <li v-for="character in characterList">
          {{character.name}}&nbsp;
          <button @click="favCharacterList.push(character)">Favorite</button>
        </li>
      </ul>

      <h2>Favorite Characters:</h2>
      <p v-if="favCharacterList.length == 0">
        There are no favorite characters
      </p>
      <ul v-else>
        <li v-for="character in favCharacterList">{{character.name}}&nbsp;</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;
      const app = createApp({
        data: () => ({
          characterList: [
            { name: "Jay Pritchett" },
            { name: "Gloria Delgado Pritchett" },
            { name: "Claire Dunphy" },
            { name: "Phil Dunphy" },
            { name: "Mitchell Pritchett" },
            { name: "Cameron Tucker" },
            { name: "Haley Dunphy" },
            { name: "Alex Dunphy" },
          ],
          favCharacterList: [],
          newCharacter: {
            name: "",
          },
        }),
        methods: {
          addNew() {
            this.characterList.push(this.newCharacter);
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
